.container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 24px;
  background: #F5F5F5;
  padding: 24px;
  min-height: 100vh;

  .content {
    width: 75%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 5px;
    background: white;
  }
}
