
.filter__container {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  border-radius: 5px;
  background: white;
  width: 25%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    h2 {
      margin: 0;
    }
  }
}

.filter__content {
  margin: 20px;
  p{
    font-weight: bold;
  }

  .subscription{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .radio__group {
    display: flex;
    flex-direction: column;
  }

  .input__group {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    padding: 5px;


    img {
      height: 80%;
    }

    input {
      height: 90%;
      border: none;
      font-size: 16px;
      &:focus, :active{
        border: none;
        outline: none;
      }
    }
  }
}
